<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>
</head>
<body>
	<div id="chat-app">
      <ul>
        <div v-for="msg in msgHis">
          <li>{{msg}}</li>
        </div>
      </ul>
			<form @submit.prevent="send">
							<input type="text" v-model="msg" class="form-control input-lg" placeholder="type here"/>
			</form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
  <script src="https://unpkg.com/vue@2.3.3"></script>
  <script src="main.js"></script>
</body>
</html>
